# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Server Logs & Temp files
*.log
error_log
scratch/

# SQLite WAL and temporary journal files
data/database.sqlite-wal
data/database.sqlite-shm
data/database.sqlite-journal

# Dependencies (if added)
vendor/
node_modules/
